// Some suggestions about color management
// see example theme
////
/// @group color-management
////


/// define global theme palette
/// @type {Map}
$-global-theme-palette: ();

/// all component's colour should depond on $global-palette
/// @type {Map}
$global-palette: null;

/// default theme name, it will effect `each-theme` and `get-default-theme`
/// @type {String}
$default-theme-name: default !default;

/// default foreground
/// @access public
/// @type {Color}
$foreground-white: white !default;

/// @access public
/// @type {Color}
$foreground-black: black !default;

/// add theme
/// @param {String} $name - theme name
/// @param {Map}    $palette - specfic palette
@function add-theme($name, $palette) {
  @if map-has-key($-global-theme-palette, $name) {
    @warn 'theme(`#{$name}`) alreay exist, you will replace it.'
  }
  $-global-theme-palette: map-merge($-global-theme-palette, (#{$name}: $palette)) !global;
  //update default theme
  @if $name == $default-theme-name {
    $global-palette: $palette !global;
  }
  @return $-global-theme-palette;
}

@mixin add-theme($arg...) {
  $_: add-theme($arg...);
}

@function get-theme($name) {
  @return map-get($-global-theme-palette, $name);
}

@function get-default-theme() {
  @return get-theme($default-theme-name);
}

/// get color from global theme pallette
@function get-theme-color($theme, $name) {
  $theme: get-theme($theme);
  @if $theme != null {
    @return map-get($theme, $name);
  }
  @return null;
}

/// get theme keys
/// @param {Boolean} [true] $add-namespace - add namespace prefix(.t-) to key
/// @return {List}
@function get-theme-keys($add-namespace: true) {
  $keys: map-keys($-global-theme-palette);
  @if $add-namespace {
    $result: ();
    @each $key in $keys {
      $result: append($result, "#{$theme-namespace-prefix}-#{$key}");
    }
    @return $result;
  }
  @return $keys;
}

/// iterate global theme palette
@mixin each-theme($include-default: false) {
  $old-global-palette: $global-palette;

  $iterator: $-global-theme-palette;
  // exclude default theme
  @if not $include-default {
    $iterator: map-remove($iterator, $default-theme-name);
  }

  @each $theme-name, $theme-palette in $iterator {
    $current-theme-name: $theme-name !global;
    $global-palette: $theme-palette !global;
    @content;
  }
  $global-palette: $old-global-palette !global;
}

/// smart foreground
/// @param {Color|List} $color - color to determine foreground, color or list, list syntax like ($background, $foreground, $background-hover, $foreground-hover)
/// @param {Color} $black  - color to return if `$color` is light
/// @param {Color} $white  - color to return if `$color` is dark
/// @param {Percentage} $threshold  - threshold of lightness to check against
/// @return {Color}
@function foreground($color, $black: $foreground-black, $white: $foreground-white, $threshold: 60%) {
  @if is-list($color) {
    @return nth($color, 2);
  } @else if is-color($color) {
    @if lightness($color) > $threshold {
      @return $black;
    }
    @else {
      @return $white;
    }
  } @else {
    @error 'invalid $color, expected type are Color or List, but actually is #{type-of($color)}';
  }
}

@function background($color) {
  @if is-list($color) {
    @return nth($color, 1);
  }
  @return null;
}

@function foreground-hover($color) {
  @if is-list($color) and length($color) >= 3{
    @return nth($color, 3);
  }
  @return null;
}

@function background-hover($color) {
  @if is-list($color) and length($color) >= 4{
    @return nth($color, 4);
  }
  @return null;
}


/// from foundation-site
@function smart-scale($color, $scale: 5%, $threshold: 40%) {
  // light
  @if lightness($color) > $threshold {
    $scale: -$scale;
  }
  @return scale-color($color, $lightness: $scale);
}
