////
/// @group shortcut
/// @access public
////

/// shortcut for width & height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/// square
@mixin square($width){
  @include size($width);
}


/// resizable block
/// @param {String} $direction - resize option: horizontal,vertical,both
@mixin resizable($direction) {
  resize: $direction;
  overflow: auto;
}

@mixin sidebar-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

@mixin sidebar-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin sidebar-bottom {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

@mixin sidebar-top {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin hover-focus {
 &:hover,
 &:focus {
   @content;
 }
}

@mixin plain-hover-focus {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active {
  &:focus,
  &:hover,
  &:active {
    @content;
  }
}

@mixin plain-hover-focus-active {
  &,
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}


@function text-inputs(){}
