@import "../scss/helpers";

.control {
  @include append-to(textarea) { // textarea.control
    color: red;
  }
  // group
  @include append-to(textarea, select, input) {
    color: red;
  }
}

textarea {
  @include append('.control') {  // textarea.control
    color: red;
  }
  // group
  @include append('.control', '.control1') {
    color: red;
  }
}

.control {
  @include nest-to(textarea) { // textarea .control
    color: red;
  }
  // group
  @include nest-to(textarea, select, input) {
    color: red;
  }
}

textarea {
  @include nest('.control') {  // textarea .control
    color: red;
  }

  // group
  @include nest('.control', '.control1') {
    color: red;
  }
}

.control {
  @include child-of(textarea) {
    color: red;
  }
  @include child-of(textarea, select) {
    color: red;
  }
}

.control {
  @include child(textarea) {
    color: red;
  }
  @include child(textarea, select) {
    color: red;
  }
}
