/* test block */
.block {
  color: red;
  /*
  @include block(another-block) {      //Error here: can not nest block into block
    color: red;
  }
  */
}

.block__element {
  color: blue;
  /*
    @include element(nested-element) { //Error here: don't nest element into element
      color: blue;
    }
    */
}

.block__element1, .block__element2 {
  /* element group */
  color: red;
}

/* test scope */
.a .block2 {
  color: red;
}

.a .block2__element {
  color: red;
}

/*test modifier */
.a .block {
  color: red;
  /*block modifiers */
  /* element modifiers */
}

.a .block--one, .a .block--two, .a .block--three {
  /*modifier group */
  color: red;
}

.a .block--A {
  /* nested modifiers */
}

.a .block--A--B {
  color: red;
}

.a .block--A--C {
  color: red;
}

.a .block--A--C--D {
  color: red;
}

.a .block__element--one, .a .block__element--two {
  /* element modifier group */
  color: red;
}

.a .block__element--A {
  /* nested modifiers */
}

.a .block__element--A--B--C {
  color: red;
}

/* test combine style modifier */
.block-combined-style.--A {
  color: red;
}

.block-combined-style.--B, .block-combined-style.--C {
  color: red;
}

.block-combined-style.--D.--E {
  color: red;
}

.block-combined-style__element.--A {
  color: red;
}

/* test shadow */
.A__B {
  color: red;
}

.A--active .A__B {
  color: red;
}

.A:focus .A__B, .A:active .A__B {
  color: red;
}

/* test namescpace */
.c-block {
  color: red;
}

.c-block__element--modifier {
  color: red;
}

/* test responsive-suffix */
.B\@small {
  width: 100px;
}

@media screen and (min-width: 64em) {
  .B\@large {
    width: 100px;
  }
}

@media screen and (min-width: 64em) {
  .B__A\@large {
    width: 100px;
  }
}

.B__C, .B__D, .B__E {
  width: 100px;
}

@media screen and (min-width: 64em) {
  .B__C\@large, .B__D\@large, .B__E\@large {
    width: 100px;
  }
}
