/* test block */
.block {
  color: red;
  /*
  @include block(another-block) {      //Error here: can not nest block into block
    color: red;
  }
  */
}

.block__element {
  color: blue;
  /*
    @include element(nested-element) { //Error here: don't nest element into element
      color: blue;
    }
    */
}

.block__element1, .block__element2 {
  /* element group */
  color: red;
}

/* test scope */
.a .block2 {
  color: red;
}

.a .block2__element {
  color: red;
}

.block .block3 {
  color: red;
}

.block .block3__element {
  color: red;
}

/*test modifier */
.a .block {
  color: red;
  /*block modifiers */
  /*modifier group */
  /* element modifiers */
}

.a .block--one, .a .block--two, .a .block--three {
  color: red;
}

.a .block--1 {
  color: red;
}

.a .block, .a .block--A, .a .block--B {
  color: red;
}

.a .block[disabled], .a .block[selected], .a .block--C {
  color: red;
}

.a .block.disabled, .a .block::before, .a .block--C {
  color: red;
}

.a .block__element--one, .a .block__element--two {
  /* element modifier group */
  color: red;
}

.a .block__element1--one, .a .block__element2--one {
  /* element group modifiers */
  color: red;
}

.a .block__element1--two, .a .block__element1--three, .a .block__element2--two, .a .block__element2--three {
  /* element group & modifiers group*/
  color: red;
}

/* test combine style modifier */
.block-combined-style.--A {
  color: red;
}

.block-combined-style.--B, .block-combined-style.--C {
  color: red;
}

.block-combined-style__element.--A {
  color: red;
}

.block-combined-style__element1.--one, .block-combined-style__element2.--one {
  /* element group modifiers */
  color: red;
}

.block-combined-style__element1.--two, .block-combined-style__element1.--three, .block-combined-style__element2.--two, .block-combined-style__element2.--three {
  /* element group & modifiers group*/
  color: red;
}

/* test shadow */
.A {
  /* shadow in element group */
  /*  shadow child */
}

.A__B {
  color: red;
}

.A--active .A__B {
  color: red;
}

.A:focus .A__B, .A:active .A__B {
  color: red;
}

.A__C, .A__D {
  color: red;
}

.A--active .A__C, .A--active .A__D {
  color: red;
}

.A:focus .A__C, .A:focus .A__D, .A--modifier .A__C, .A--modifier .A__D {
  color: blue;
}

.A__E {
  color: red;
}

.A--active > .A__E {
  color: red;
}

.A--active + .A__E {
  color: red;
}

/* test namescpace */
.c-block {
  color: red;
}

.c-block__element--modifier {
  color: red;
}

/* test responsive-suffix */
.B\@small {
  width: 100px;
}

@media screen and (min-width: 64em) {
  .B\@large {
    width: 100px;
  }
}

@media screen and (min-width: 64em) {
  .B__A\@large {
    width: 100px;
  }
}

.B__C, .B__D, .B__E {
  width: 100px;
}

@media screen and (min-width: 64em) {
  .B__C\@large, .B__D\@large, .B__E\@large {
    width: 100px;
  }
}

.B--C\@small {
  width: 100px;
}

.B--C\@small, .B--D\@small {
  width: 100px;
}

/* test theme */
.t-light .block {
  color: red;
}

.t-light .block2 {
  color: blue;
}

.t-light .block2__element {
  color: red;
}

.t-light .block2__element--modifier {
  color: blue;
}

.t-light .block2--modifier {
  color: blue;
}

.block {
  color: blue;
}

.t-light .block__element {
  color: red;
}

.block__element {
  color: red;
}

.t-light .block__element--modifier {
  color: red;
}

.block {
  color: red;
}

.element {
  color: red;
}

.block--A .element {
  color: red;
}
