.row {
  margin-left: auto;
  margin-right: auto;
}

.row::before, .row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.row .row {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

@media screen and (min-width: 40em) {
  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.row--collapse > .col {
  padding-left: 0;
  padding-right: 0;
}

.row--collapse\@small > .col {
  padding-left: 0;
  padding-right: 0;
}

.row--uncollapse\@small > .col {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.col--1\@small {
  width: 8.33333%;
}

.col--push-1\@small {
  left: 8.33333%;
}

.col--pull-1\@small {
  left: -8.33333%;
}

.col--offset-0\@small {
  margin-left: 0%;
}

.col--2\@small {
  width: 16.66667%;
}

.col--push-2\@small {
  left: 16.66667%;
}

.col--pull-2\@small {
  left: -16.66667%;
}

.col--offset-1\@small {
  margin-left: 8.33333%;
}

.col--3\@small {
  width: 25%;
}

.col--push-3\@small {
  left: 25%;
}

.col--pull-3\@small {
  left: -25%;
}

.col--offset-2\@small {
  margin-left: 16.66667%;
}

.col--4\@small {
  width: 33.33333%;
}

.col--push-4\@small {
  left: 33.33333%;
}

.col--pull-4\@small {
  left: -33.33333%;
}

.col--offset-3\@small {
  margin-left: 25%;
}

.col--5\@small {
  width: 41.66667%;
}

.col--push-5\@small {
  left: 41.66667%;
}

.col--pull-5\@small {
  left: -41.66667%;
}

.col--offset-4\@small {
  margin-left: 33.33333%;
}

.col--6\@small {
  width: 50%;
}

.col--push-6\@small {
  left: 50%;
}

.col--pull-6\@small {
  left: -50%;
}

.col--offset-5\@small {
  margin-left: 41.66667%;
}

.col--7\@small {
  width: 58.33333%;
}

.col--push-7\@small {
  left: 58.33333%;
}

.col--pull-7\@small {
  left: -58.33333%;
}

.col--offset-6\@small {
  margin-left: 50%;
}

.col--8\@small {
  width: 66.66667%;
}

.col--push-8\@small {
  left: 66.66667%;
}

.col--pull-8\@small {
  left: -66.66667%;
}

.col--offset-7\@small {
  margin-left: 58.33333%;
}

.col--9\@small {
  width: 75%;
}

.col--push-9\@small {
  left: 75%;
}

.col--pull-9\@small {
  left: -75%;
}

.col--offset-8\@small {
  margin-left: 66.66667%;
}

.col--10\@small {
  width: 83.33333%;
}

.col--push-10\@small {
  left: 83.33333%;
}

.col--pull-10\@small {
  left: -83.33333%;
}

.col--offset-9\@small {
  margin-left: 75%;
}

.col--11\@small {
  width: 91.66667%;
}

.col--push-11\@small {
  left: 91.66667%;
}

.col--pull-11\@small {
  left: -91.66667%;
}

.col--offset-10\@small {
  margin-left: 83.33333%;
}

.col--12\@small {
  width: 100%;
}

.col--offset-11\@small {
  margin-left: 91.66667%;
}

.col--center\@small {
  margin-left: auto;
  margin-right: auto;
}

.col--center\@small {
  float: none;
}

.col--uncenter\@small, .col--push-0\@small, .col--pull-0\@small {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left;
}

@media screen and (min-width: 40em) {
  .row--collapse\@medium > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row--uncollapse\@medium > .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .col--1\@medium {
    width: 8.33333%;
  }
  .col--push-1\@medium {
    left: 8.33333%;
  }
  .col--pull-1\@medium {
    left: -8.33333%;
  }
  .col--offset-0\@medium {
    margin-left: 0%;
  }
  .col--2\@medium {
    width: 16.66667%;
  }
  .col--push-2\@medium {
    left: 16.66667%;
  }
  .col--pull-2\@medium {
    left: -16.66667%;
  }
  .col--offset-1\@medium {
    margin-left: 8.33333%;
  }
  .col--3\@medium {
    width: 25%;
  }
  .col--push-3\@medium {
    left: 25%;
  }
  .col--pull-3\@medium {
    left: -25%;
  }
  .col--offset-2\@medium {
    margin-left: 16.66667%;
  }
  .col--4\@medium {
    width: 33.33333%;
  }
  .col--push-4\@medium {
    left: 33.33333%;
  }
  .col--pull-4\@medium {
    left: -33.33333%;
  }
  .col--offset-3\@medium {
    margin-left: 25%;
  }
  .col--5\@medium {
    width: 41.66667%;
  }
  .col--push-5\@medium {
    left: 41.66667%;
  }
  .col--pull-5\@medium {
    left: -41.66667%;
  }
  .col--offset-4\@medium {
    margin-left: 33.33333%;
  }
  .col--6\@medium {
    width: 50%;
  }
  .col--push-6\@medium {
    left: 50%;
  }
  .col--pull-6\@medium {
    left: -50%;
  }
  .col--offset-5\@medium {
    margin-left: 41.66667%;
  }
  .col--7\@medium {
    width: 58.33333%;
  }
  .col--push-7\@medium {
    left: 58.33333%;
  }
  .col--pull-7\@medium {
    left: -58.33333%;
  }
  .col--offset-6\@medium {
    margin-left: 50%;
  }
  .col--8\@medium {
    width: 66.66667%;
  }
  .col--push-8\@medium {
    left: 66.66667%;
  }
  .col--pull-8\@medium {
    left: -66.66667%;
  }
  .col--offset-7\@medium {
    margin-left: 58.33333%;
  }
  .col--9\@medium {
    width: 75%;
  }
  .col--push-9\@medium {
    left: 75%;
  }
  .col--pull-9\@medium {
    left: -75%;
  }
  .col--offset-8\@medium {
    margin-left: 66.66667%;
  }
  .col--10\@medium {
    width: 83.33333%;
  }
  .col--push-10\@medium {
    left: 83.33333%;
  }
  .col--pull-10\@medium {
    left: -83.33333%;
  }
  .col--offset-9\@medium {
    margin-left: 75%;
  }
  .col--11\@medium {
    width: 91.66667%;
  }
  .col--push-11\@medium {
    left: 91.66667%;
  }
  .col--pull-11\@medium {
    left: -91.66667%;
  }
  .col--offset-10\@medium {
    margin-left: 83.33333%;
  }
  .col--12\@medium {
    width: 100%;
  }
  .col--offset-11\@medium {
    margin-left: 91.66667%;
  }
  .col--center\@medium {
    margin-left: auto;
    margin-right: auto;
  }
  .col--center\@medium {
    float: none;
  }
  .col--uncenter\@medium, .col--push-0\@medium, .col--pull-0\@medium {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
}

@media screen and (min-width: 64em) {
  .row--collapse\@large > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row--uncollapse\@large > .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .col--1\@large {
    width: 8.33333%;
  }
  .col--push-1\@large {
    left: 8.33333%;
  }
  .col--pull-1\@large {
    left: -8.33333%;
  }
  .col--offset-0\@large {
    margin-left: 0%;
  }
  .col--2\@large {
    width: 16.66667%;
  }
  .col--push-2\@large {
    left: 16.66667%;
  }
  .col--pull-2\@large {
    left: -16.66667%;
  }
  .col--offset-1\@large {
    margin-left: 8.33333%;
  }
  .col--3\@large {
    width: 25%;
  }
  .col--push-3\@large {
    left: 25%;
  }
  .col--pull-3\@large {
    left: -25%;
  }
  .col--offset-2\@large {
    margin-left: 16.66667%;
  }
  .col--4\@large {
    width: 33.33333%;
  }
  .col--push-4\@large {
    left: 33.33333%;
  }
  .col--pull-4\@large {
    left: -33.33333%;
  }
  .col--offset-3\@large {
    margin-left: 25%;
  }
  .col--5\@large {
    width: 41.66667%;
  }
  .col--push-5\@large {
    left: 41.66667%;
  }
  .col--pull-5\@large {
    left: -41.66667%;
  }
  .col--offset-4\@large {
    margin-left: 33.33333%;
  }
  .col--6\@large {
    width: 50%;
  }
  .col--push-6\@large {
    left: 50%;
  }
  .col--pull-6\@large {
    left: -50%;
  }
  .col--offset-5\@large {
    margin-left: 41.66667%;
  }
  .col--7\@large {
    width: 58.33333%;
  }
  .col--push-7\@large {
    left: 58.33333%;
  }
  .col--pull-7\@large {
    left: -58.33333%;
  }
  .col--offset-6\@large {
    margin-left: 50%;
  }
  .col--8\@large {
    width: 66.66667%;
  }
  .col--push-8\@large {
    left: 66.66667%;
  }
  .col--pull-8\@large {
    left: -66.66667%;
  }
  .col--offset-7\@large {
    margin-left: 58.33333%;
  }
  .col--9\@large {
    width: 75%;
  }
  .col--push-9\@large {
    left: 75%;
  }
  .col--pull-9\@large {
    left: -75%;
  }
  .col--offset-8\@large {
    margin-left: 66.66667%;
  }
  .col--10\@large {
    width: 83.33333%;
  }
  .col--push-10\@large {
    left: 83.33333%;
  }
  .col--pull-10\@large {
    left: -83.33333%;
  }
  .col--offset-9\@large {
    margin-left: 75%;
  }
  .col--11\@large {
    width: 91.66667%;
  }
  .col--push-11\@large {
    left: 91.66667%;
  }
  .col--pull-11\@large {
    left: -91.66667%;
  }
  .col--offset-10\@large {
    margin-left: 83.33333%;
  }
  .col--12\@large {
    width: 100%;
  }
  .col--offset-11\@large {
    margin-left: 91.66667%;
  }
  .col--center\@large {
    margin-left: auto;
    margin-right: auto;
  }
  .col--center\@large {
    float: none;
  }
  .col--uncenter\@large, .col--push-0\@large, .col--pull-0\@large {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
}
