.clearfix::before, .clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

.disable-mouse-outline {
  outline: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row::before, .row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.row .row {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

@media screen and (min-width: 40em) {
  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}

.row .row.row--collapse {
  margin-left: 0;
  margin-right: 0;
}

.row--collapse > .col {
  padding-left: 0;
  padding-right: 0;
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.col--small-1 {
  width: 8.33333%;
}

.col--small-push-1 {
  left: 8.33333%;
}

.col--small-pull-1 {
  left: -8.33333%;
}

.col--small-offset-0 {
  margin-left: 0%;
}

.col--small-2 {
  width: 16.66667%;
}

.col--small-push-2 {
  left: 16.66667%;
}

.col--small-pull-2 {
  left: -16.66667%;
}

.col--small-offset-1 {
  margin-left: 8.33333%;
}

.col--small-3 {
  width: 25%;
}

.col--small-push-3 {
  left: 25%;
}

.col--small-pull-3 {
  left: -25%;
}

.col--small-offset-2 {
  margin-left: 16.66667%;
}

.col--small-4 {
  width: 33.33333%;
}

.col--small-push-4 {
  left: 33.33333%;
}

.col--small-pull-4 {
  left: -33.33333%;
}

.col--small-offset-3 {
  margin-left: 25%;
}

.col--small-5 {
  width: 41.66667%;
}

.col--small-push-5 {
  left: 41.66667%;
}

.col--small-pull-5 {
  left: -41.66667%;
}

.col--small-offset-4 {
  margin-left: 33.33333%;
}

.col--small-6 {
  width: 50%;
}

.col--small-push-6 {
  left: 50%;
}

.col--small-pull-6 {
  left: -50%;
}

.col--small-offset-5 {
  margin-left: 41.66667%;
}

.col--small-7 {
  width: 58.33333%;
}

.col--small-push-7 {
  left: 58.33333%;
}

.col--small-pull-7 {
  left: -58.33333%;
}

.col--small-offset-6 {
  margin-left: 50%;
}

.col--small-8 {
  width: 66.66667%;
}

.col--small-push-8 {
  left: 66.66667%;
}

.col--small-pull-8 {
  left: -66.66667%;
}

.col--small-offset-7 {
  margin-left: 58.33333%;
}

.col--small-9 {
  width: 75%;
}

.col--small-push-9 {
  left: 75%;
}

.col--small-pull-9 {
  left: -75%;
}

.col--small-offset-8 {
  margin-left: 66.66667%;
}

.col--small-10 {
  width: 83.33333%;
}

.col--small-push-10 {
  left: 83.33333%;
}

.col--small-pull-10 {
  left: -83.33333%;
}

.col--small-offset-9 {
  margin-left: 75%;
}

.col--small-11 {
  width: 91.66667%;
}

.col--small-push-11 {
  left: 91.66667%;
}

.col--small-pull-11 {
  left: -91.66667%;
}

.col--small-offset-10 {
  margin-left: 83.33333%;
}

.col--small-12 {
  width: 100%;
}

.col--small-offset-11 {
  margin-left: 91.66667%;
}

.col--small-centered {
  margin-left: auto;
  margin-right: auto;
}

.col--small-centered {
  float: none;
}

.col--small-uncentered,
.col--small-push-0,
.col--small-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.row--small-collapse > .col {
  padding-left: 0;
  padding-right: 0;
}

.row--small-uncollapse > .col {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media screen and (min-width: 40em) {
  .col--medium-1 {
    width: 8.33333%;
  }
  .col--medium-push-1 {
    left: 8.33333%;
  }
  .col--medium-pull-1 {
    left: -8.33333%;
  }
  .col--medium-offset-0 {
    margin-left: 0%;
  }
  .col--medium-2 {
    width: 16.66667%;
  }
  .col--medium-push-2 {
    left: 16.66667%;
  }
  .col--medium-pull-2 {
    left: -16.66667%;
  }
  .col--medium-offset-1 {
    margin-left: 8.33333%;
  }
  .col--medium-3 {
    width: 25%;
  }
  .col--medium-push-3 {
    left: 25%;
  }
  .col--medium-pull-3 {
    left: -25%;
  }
  .col--medium-offset-2 {
    margin-left: 16.66667%;
  }
  .col--medium-4 {
    width: 33.33333%;
  }
  .col--medium-push-4 {
    left: 33.33333%;
  }
  .col--medium-pull-4 {
    left: -33.33333%;
  }
  .col--medium-offset-3 {
    margin-left: 25%;
  }
  .col--medium-5 {
    width: 41.66667%;
  }
  .col--medium-push-5 {
    left: 41.66667%;
  }
  .col--medium-pull-5 {
    left: -41.66667%;
  }
  .col--medium-offset-4 {
    margin-left: 33.33333%;
  }
  .col--medium-6 {
    width: 50%;
  }
  .col--medium-push-6 {
    left: 50%;
  }
  .col--medium-pull-6 {
    left: -50%;
  }
  .col--medium-offset-5 {
    margin-left: 41.66667%;
  }
  .col--medium-7 {
    width: 58.33333%;
  }
  .col--medium-push-7 {
    left: 58.33333%;
  }
  .col--medium-pull-7 {
    left: -58.33333%;
  }
  .col--medium-offset-6 {
    margin-left: 50%;
  }
  .col--medium-8 {
    width: 66.66667%;
  }
  .col--medium-push-8 {
    left: 66.66667%;
  }
  .col--medium-pull-8 {
    left: -66.66667%;
  }
  .col--medium-offset-7 {
    margin-left: 58.33333%;
  }
  .col--medium-9 {
    width: 75%;
  }
  .col--medium-push-9 {
    left: 75%;
  }
  .col--medium-pull-9 {
    left: -75%;
  }
  .col--medium-offset-8 {
    margin-left: 66.66667%;
  }
  .col--medium-10 {
    width: 83.33333%;
  }
  .col--medium-push-10 {
    left: 83.33333%;
  }
  .col--medium-pull-10 {
    left: -83.33333%;
  }
  .col--medium-offset-9 {
    margin-left: 75%;
  }
  .col--medium-11 {
    width: 91.66667%;
  }
  .col--medium-push-11 {
    left: 91.66667%;
  }
  .col--medium-pull-11 {
    left: -91.66667%;
  }
  .col--medium-offset-10 {
    margin-left: 83.33333%;
  }
  .col--medium-12 {
    width: 100%;
  }
  .col--medium-offset-11 {
    margin-left: 91.66667%;
  }
  .col--medium-centered {
    margin-left: auto;
    margin-right: auto;
  }
  .col--medium-centered {
    float: none;
  }
  .col--medium-uncentered,
  .col--medium-push-0,
  .col--medium-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .row--medium-collapse > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row--medium-uncollapse > .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media screen and (min-width: 64em) {
  .col--large-1 {
    width: 8.33333%;
  }
  .col--large-push-1 {
    left: 8.33333%;
  }
  .col--large-pull-1 {
    left: -8.33333%;
  }
  .col--large-offset-0 {
    margin-left: 0%;
  }
  .col--large-2 {
    width: 16.66667%;
  }
  .col--large-push-2 {
    left: 16.66667%;
  }
  .col--large-pull-2 {
    left: -16.66667%;
  }
  .col--large-offset-1 {
    margin-left: 8.33333%;
  }
  .col--large-3 {
    width: 25%;
  }
  .col--large-push-3 {
    left: 25%;
  }
  .col--large-pull-3 {
    left: -25%;
  }
  .col--large-offset-2 {
    margin-left: 16.66667%;
  }
  .col--large-4 {
    width: 33.33333%;
  }
  .col--large-push-4 {
    left: 33.33333%;
  }
  .col--large-pull-4 {
    left: -33.33333%;
  }
  .col--large-offset-3 {
    margin-left: 25%;
  }
  .col--large-5 {
    width: 41.66667%;
  }
  .col--large-push-5 {
    left: 41.66667%;
  }
  .col--large-pull-5 {
    left: -41.66667%;
  }
  .col--large-offset-4 {
    margin-left: 33.33333%;
  }
  .col--large-6 {
    width: 50%;
  }
  .col--large-push-6 {
    left: 50%;
  }
  .col--large-pull-6 {
    left: -50%;
  }
  .col--large-offset-5 {
    margin-left: 41.66667%;
  }
  .col--large-7 {
    width: 58.33333%;
  }
  .col--large-push-7 {
    left: 58.33333%;
  }
  .col--large-pull-7 {
    left: -58.33333%;
  }
  .col--large-offset-6 {
    margin-left: 50%;
  }
  .col--large-8 {
    width: 66.66667%;
  }
  .col--large-push-8 {
    left: 66.66667%;
  }
  .col--large-pull-8 {
    left: -66.66667%;
  }
  .col--large-offset-7 {
    margin-left: 58.33333%;
  }
  .col--large-9 {
    width: 75%;
  }
  .col--large-push-9 {
    left: 75%;
  }
  .col--large-pull-9 {
    left: -75%;
  }
  .col--large-offset-8 {
    margin-left: 66.66667%;
  }
  .col--large-10 {
    width: 83.33333%;
  }
  .col--large-push-10 {
    left: 83.33333%;
  }
  .col--large-pull-10 {
    left: -83.33333%;
  }
  .col--large-offset-9 {
    margin-left: 75%;
  }
  .col--large-11 {
    width: 91.66667%;
  }
  .col--large-push-11 {
    left: 91.66667%;
  }
  .col--large-pull-11 {
    left: -91.66667%;
  }
  .col--large-offset-10 {
    margin-left: 83.33333%;
  }
  .col--large-12 {
    width: 100%;
  }
  .col--large-offset-11 {
    margin-left: 91.66667%;
  }
  .col--large-centered {
    margin-left: auto;
    margin-right: auto;
  }
  .col--large-centered {
    float: none;
  }
  .col--large-uncentered,
  .col--large-push-0,
  .col--large-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .row--large-collapse > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row--large-uncollapse > .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}
