textarea.control {
  color: red;
}

textarea.control, select.control, input.control {
  color: red;
}

textarea.control {
  color: red;
}

textarea.control, textarea.control1 {
  color: red;
}

textarea .control {
  color: red;
}

textarea .control, select .control, input .control {
  color: red;
}

textarea .control {
  color: red;
}

textarea .control, textarea .control1 {
  color: red;
}

textarea > .control {
  color: red;
}

textarea > .control, select > .control {
  color: red;
}

.control > textarea {
  color: red;
}

.control > textarea, .control > select {
  color: red;
}
