
/// 是否启用flex 网格
/// @type {Boolean}
$enable-flex: false !default;

/// 默认网格数
/// @type {Number}
$grid-count: 12 !default;

/// 列间隔
/// @type
$grid-gutter: (
  small: 20px,
  medium: 30px,
) !default;

@import "row";
@import "gutter";
@import "col";
@import "position";
@import "classes";
